<div>
    <div>
      <h4>Lista Dostępnych Metod Płatności</h4>
      <br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let platnosc of platnosc; let i = index"
        >
        {{ platnosc.rodzajP }}
        <button style="float: right ;"class="m btn btn btn-danger" (click)="remove(platnosc.idP)">
            Usuń
        </button>
        </li>
      </ul>
        <br>
        <div>
            <div class="submit-form">
                    <div class="form-group">
                        <label for="title">Dodaj Metodę Płatności</label>
                        <input
                            type="text"
                            class="form-control"
                            id="rodzajP"
                            [(ngModel)]="currentPlatnosc.rodzajP"
                        />
                    </div>
                    <br>
            </div>
            <button style="float: left ;"class="m btn btn btn-success" (click)="createPlatnosc()">
                Dodaj
            </button>
        </div>
    </div>
  </div>